* {
    padding: 0%;
    margin: 0%;
}
body {

}
.container-menu{
    display: flex;
    height: 69px;
    max-width: 1200px;
    background-color: black ;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
    margin: auto;
}

.container-menu > img {
    padding-left: 10px;
}

.nomes_menu {
    text-decoration: underline;
}

.nomes_menu > a {
    color: gray;
}

.nomes_menu {
    margin-right: 10px;
}


main {
    background-color: black;
    max-width: 1200px;
    margin: auto;
}

.parte1 > div {
    background-image: url('resources/img-mission-background.webp');
    height: 800px;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
   
