/*CONFIGURAÇOES GERAIS*/
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: RedHatDisplay;
    
}
@font-face {
    font-family: RedHatDisplay;
    /*UTILIZANDO SEM FLASK*/
    src: url('/static/RedHatDisplay/RedHatDisplay-VariableFont_wght.ttf') format('truetype');
    /*UTILIZANDO COM FLASK*/
}

/*========================================= BARRA LATERAL============================================*/
#barra-lateral {
    width: 350px;
    height: 1024px;
    position: fixed;
    top: 0;
    left: -350px; /* Inicialmente, a barra lateral está fora da tela */
    background-color: #ffffff;
    color: #000000;
    transition: left 0.3s ease; /* Adiciona uma transição suave para a animação */
    display: flex;
    flex-direction: column;
    z-index: 3;
}
/*Aqui estou modelando a parte do perfil do usuario*/
.DadosPerfil {
    display: flex;
    background-color:rgba(229, 94, 130, 1);
    height: 120px;
    width: 350px;
    align-items: center;
    padding-bottom: 10px;
}
.DadosPerfil > a {
    margin-left: 20px;
    color: white;
    font-size: 20px;
}
.DadosPerfil > a {
    margin-left: 20px;
    color: #ffffff;
    text-decoration: none;
}
.DadosPerfil > a > div > img {
    border-radius: 100%;
    margin-left: 10px;
    border: 2px solid white;
    
}
/*Aqui estou modelando a parte dos links*/
.conteuldoBarralateral > h1 {
    background: linear-gradient(to bottom, #EACEF2,#F9A8C8);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 30px;
    margin-left: 5px;
}
.conteuldoBarralateral > div {
    width: 350px;
    border-bottom: 1px solid rgba(236, 202, 237, 1);
    margin-bottom: 12px;
    display: flex;
    align-items: center;
   

}
.conteuldoBarralateral > div > a {
    text-decoration: none;
    color: #000000;
    margin-bottom: 10px;
    margin-left: 10px;
}
.conteuldoBarralateral > div > i {
    color: rgba(229, 94, 130, 1);
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 20px;
}
.conteuldoBarralateral > div > a:hover {
    color: rgba(229, 94, 130, 1);
    transition-duration: 0.5s;
}

/*Botao de abrir a barra lateral*/
#toggle-btn {
    background-color: white;
    height: 40px;
    width: 40px;
    border: none;
    margin-bottom: 20px;
    margin-right: 30px;
    margin-left: 20px;
}
/*Botao de fechar barra lateral*/
.botaSair {
    background-color: rgba(229, 94, 130, 1);
    width: 350px;
    display: flex;
    justify-content: end;
}
.botaSair > a {
    padding: 5px;
    color: white;
    margin-right: 10px;
    text-decoration: none;
    font-size: 20px;
   
}
/*=====================================FIM BARRA LATERAL============================================*/

/*AQUI IREI COMEÇAR MODELAR A PAGINA*/
/*HEADER*/
header {
    margin: auto;
    height: 120px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease;
    z-index: 3;
}
.botao_logo {
    display: flex;
    align-items: center;
}
.carrinho_barraDePesquisa {
    display: flex;
    align-items: center;
}
.botao > button > i {
    font-size: 30px;
    color: #E55E82;
}
/*Aqui irei modelar a barra de pesquisa*/
.barra_pesquisa {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 40px;
    border: 1px solid #AEAEAE;
    border-radius: 50px; 
}
.barraPesquisa_Botao {
    display: flex;
    margin-right: 30px;
    align-items: center;
}
.barraPesquisa_Botao > button{
    border-radius: 100%;
    height: 40px;
    width: 40px;
    background-color: #E55E82;
    font-size: 20px;
    color: white;
    border: none;
    margin-left: 5px;
}
.barraPesquisa_Botao > button:hover {
    background-color: white;
    border:1px solid #E55E82;
    color: #E55E82;
    transition-duration: 0.5s;

}
.barra_pesquisa > i {
    color: #E55E82;
    margin-left: 10px;
}
.barra_pesquisa > input {
  height: 30px;
  width: 240px;
  border-radius: 50px;
  border: none;
  outline: none;
}

/*aqui irei modelar o icone do carrinho*/
.carrinho_compra {
    display: flex;
}
.fa-cart-shopping {
    font-size: 30px;
    color: #E55E82;
 }
#carrinho {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color:#5ee55e;
    border-radius: 100%;
    margin-right: 30px;
    
 }
 /*AQUI IREI MODELAR AS MEDIAS QUERIES*/
 @media only screen and (max-width: 820px){
    /*Aqui irei modelar o header*/
    header {
        flex-wrap: wrap-reverse;
        height: 200px;  
        align-items: center;
    }
    .carrinho_barraDePesquisa{
        justify-content: space-between;
        width: 800px;
        margin-left: 20px;
        margin-top: 10px;
    }
    /*aqui estou modelando o carrinho e a barra de pesquisa*/
    /*Aqui irei modelar a barra de pesquisa*/
    .barra_pesquisa {
        width: 270px;
        height: 40px;
    }
    .barra_pesquisa > input {
        height: 30px;
        width: 240px;
    }
    /*aqui irei modelar o carrinho*/
    #carrinho {
        margin-right: 20px;
    }
 }
 /*para telas mobiles*/
 @media only screen and (max-width: 500px){
    /*aqui estou modelando o carrinho e a barra de pesquisa*/
    /*Aqui irei modelar a barra de pesquisa*/
    .barra_pesquisa {
        width: 200px;
        height: 40px;
    }
   /*aqui irei modelar o carrinho*/
    #carrinho {
        margin-right: 20px;
    }
 }


/*MAIN*/
main {
    max-width: 1440px;
    margin: auto;
    background-color:white;
}
/*Aqui irei modelar a parte do anunciado do site*/
.anunciado {
    height: 450px;
    max-width: 1440px;
    background-image: url('/static/imagens/Pagina_principal/anunciados/anunciadoPaginaPrinciapal.png');
}
@media only screen and (max-width: 1300px){
    .anunciado{
        background-image: url('/static/imagens/Pagina_principal/anunciados/anunciadoPaginaPincipal_1300.png');
        
    }
}
@media only screen and (max-width: 1200px){
    .anunciado{
        background-image: url('/static/imagens/Pagina_principal/anunciados/anunciadoPaginaPincipal_1200.png');
        
    }
}
@media only screen and (max-width: 1100px){
    .anunciado{
        background-image: url('/static/imagens/Pagina_principal/anunciados/anunciadoPaginaPincipal_1100.png');
        
    }
}
@media only screen and (max-width: 1000px){
    .anunciado{
        background-image: url('/static/imagens/Pagina_principal/anunciados/anunciadoPaginaPincipal_1000.png');
        height: 350px;
    }
}
@media only screen and (max-width: 850px){
    .anunciado{
        background-image: url('/static/imagens/Pagina_principal/anunciados/anunciadoPaginaPincipal_850.png');
        height: 350px;
    }
}
@media only screen and (max-width: 800px){
    .anunciado{
        background-image: url('/static/imagens/Pagina_principal/anunciados/anunciadoPaginaPincipal_800.png');
        height: 350px;
    }
}
@media only screen and (max-width: 500px){
    .anunciado{
        background-image: url('/static/imagens/Pagina_principal/anunciados/anunciadoPaginaPincipal_500.png');
        height: 300px;
    }
}


/*Aqui irei modelar a parte do carrossel dos mais vendidos do site*/
.TituloMaisVendidos {
    font-size: 40px;
    font-family: monospace;
    background: linear-gradient(to bottom, #EACEF2,#F9A8C8);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.MaisVendidos {
    max-width: 1450px;
    overflow: hidden;
    position: relative;
}

.carrossel {
    display: flex;
    width: 1450px; /* 5 cards * 350px */
    transition: transform 0.3s ease;
    margin-bottom: 100px;
  
}
.botoes {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    color: white;
    border: none;
    cursor: pointer;
    background-color: #E55E82;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
}

#prev {
    left: 0;
}

#next {
    right: 0;
}

/*aqui irei modelar os cards*/
.cardMaisVendido {
    width: 300px;
    height: 450px;
    box-sizing: border-box;
    flex-shrink: 0; /* Garante que os cards não diminuam mais do que o especificado */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    background: linear-gradient(to bottom, #F9A8C8, #E55E82);
    margin:0px 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}
.cardMaisVendido:hover {
    width: 320px;
    height: 470px;
    transition-duration: 1s;
    background: linear-gradient(to bottom, #E55E82, #E55E82);
}
@media only screen and (max-width: 500px){
    .cardMaisVendido {
        margin-left: 65px;
    }
    .cardMaisVendido:hover {
        margin-left: 55px;
    }
    .TituloMaisVendidos {
        font-size: 25px;
    }
}
.TituloCard {
    color: white;
}
.imgCard > img{
   height: 200px;
   width: 200px;
}
.Valor_Botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.Valor_Botao > button{
    height: 60px;
    width: 180px;
    border-radius: 50px;
    background-color: white;
    color: #E55E82;
    border: none;
    font-size: 15px;
    margin-top: 20px;
}
.Valor_Botao > button:hover{
    border:1px solid white;
    color: white;
    transition-duration: 1s;
    background-color: #E55E82;
}


/*Aqui irei modelar a parte do encontrar por categoria*/
/*container pai*/
.encontre_por_categoria {
    max-width: 1440px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

}
/*Conainer filho*/
.navbar_Encontre_por_categoria {
    display: flex;
    max-width: 1400px;
    margin: auto;
    justify-content: center;
    
}
.navbar_Encontre_por_categoria > div {
     display: flex;
     margin-bottom: 20px;
}
/*titulo*/
.tituloEncontre_por_categoria > h1 {
    font-size: 50px;
    font-family: monospace;
    background: linear-gradient(to bottom, #EACEF2,#F9A8C8);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
/*Cards*/
.card_Encontre_por_categoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card_Encontre_por_categoria  {
    height: 180px;
    width: 180px;

}
.card_Encontre_por_categoria > a > img {
    height: 170px;
    width: 170px;
    border-radius: 100%;
}
.card_Encontre_por_categoria > a > img:hover {
    height: 190px;
    width: 190px;
    transition-duration: 1s;
}
.card_Encontre_por_categoria > div > a {
    font-size: 20px;
    color: #E55E82;
    text-decoration: none;

}
/*AQUI IREI MODELAR A VERSAO PARA TELAS MENORES*/
@media only screen and (max-width: 1100px){ 
    /*Cards*/
    .card_Encontre_por_categoria  {
        height: 150px;
        width: 150px;

    }
    .card_Encontre_por_categoria > a > img {
        height: 150px;
        width: 150px;
        border-radius: 100%;
    }
    .card_Encontre_por_categoria > a > img:hover {
        height: 170px;
        width: 170px;
        transition-duration: 1s;
    }
    
}
@media only screen and (max-width: 950px){ 
    /*Cards*/
    .card_Encontre_por_categoria  {
        height: 130px;
        width: 130px;

    }
    .card_Encontre_por_categoria > a > img {
        height: 130px;
        width: 130px;
        border-radius: 100%;
    }
    .card_Encontre_por_categoria > a > img:hover {
        height: 150px;
        width: 150px;
        transition-duration: 1s;
    }
}
@media only screen and (max-width: 850px){ 
    /*Conainer filho*/
    .navbar_Encontre_por_categoria {
        display: flex;
        max-width: 1400px;
        flex-wrap: wrap;
       
    }
    /*Cards*/
    .card_Encontre_por_categoria  {
        height: 120px;
        width: 120px;
    }
    .card_Encontre_por_categoria > a > img {
        height: 100px;
        width: 100px;
        border-radius: 100%;
    }
    .card_Encontre_por_categoria > a > img:hover {
        height: 120px;
        width: 120px;
        transition-duration: 1s;
    }
    
}
@media only screen and (max-width: 500px){ 
    .tituloEncontre_por_categoria > h1 {
        font-size: 30px;
    }
}




/*Aqui irei modelar a parte dos cards dos produtos*/
/*Container pai*/
.produtos_para_vender {
    max-width: 1440px;
    max-height: 6000px;
    display: flex;
}

/*container filho*/
.cards_Produtos_para_vender {
    max-width: 1400px;
    max-height: 6000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*Card do produto*/
.card_produto {
    height: 450px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease;
    margin: 10px;
    border: 1px solid rgba(174, 174, 174, 0.521);
    border-radius: 10px;

}

/*container filho de card do produto que guarda img, nome e valor*/
.dados_do_produto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.dados_do_produto > img {
    height: 250px;
    width: 250px;
}
.dados_do_produto p {
    font-size: 25px;
    color: #E55E82;
}

/*container filho de card do produto que guarda forms de quantidade, botao carrinho e botao comprar*/
.interaçoes_card {
    display: flex;
    flex-direction: column;

}

.interaçao_carrinho {
    display: flex;
    justify-content: space-around;
}
.interaçao_carrinho > input {
    height: 50px;
    width: 150px;
    border: 1px solid #AEAEAE;
    border-radius: 10px;
    text-align: center;
    margin-right: 5px;

}
.interaçao_carrinho > button {
    height: 50px;
    width: 150px;
    border-radius: 10px;
    background-color: #F9A8C8;
    border: none;
}
.interaçao_carrinho > button {
    color: #E55E82;
    font-size: 30px;
    border: none;
}

.botao_comprar > button {
    width: 305px;
    height: 50px;
    color: white;
    margin: 10px 5px;
   
    border: none;
    border-radius: 10px;
    background-color: #E55E82;
}
.botao_comprar > button:hover {
    background-color: white;
    color: #E55E82;
    border: 1px solid #E55E82;
    transition-duration: 1s;
}



/*Aqui irei modelar a parte das propaandas*/
/*Conatiner pai*/
.Propagandas {
    max-width: 1440px;
    margin-top: 100px;
    margin-bottom: 100px;
}

/*Container filho*/
.Propagandas_dos_produtos1_2 {
    max-width: 1400px;
    max-height: 2000px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    flex-wrap: wrap;
}

/*Container que tem p, h1 e button*/
#propaganda1 {
    background-image: url("/static/imagens/Pagina_principal/PRopaganda2-dekstop.png");
    
}
#propaganda2 {
    background-image: url("/static/imagens/Pagina_principal/PRopaganda1-dekstop.png");
}
.propaganda {
    height: 500px;
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
.propaganda > div {
    max-width: 350px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.propaganda > div > h1 {
    font-size: 50px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
.propaganda > div >  p {
    height: 100px;
    width: 400px;
    font-size:20px;
    color: white;
}
.propaganda > div > button a {
    text-decoration: none;
    color: #E55E82;
}
.propaganda > div > button {
    width: 200px;
    height: 75px;
    color: #E55E82;
    font-size: 20px;
    background-color: white;
    border: none;
    border-radius: 50px;
    
}
.propaganda > div > button:hover{
    background-color: #F9A8C8;
    color:white;
    border: 1px solid white;
    transition-duration: 1s;
}

@media only screen and (max-width: 800px){ 
    #propaganda1 {
        background-image: url("/static/imagens/Pagina_principal_mobile/Propaganda2mobile.png");
        
    }
    #propaganda2 {
        background-image: url("/static/imagens/Pagina_principal_mobile/Propaganda1mobile.png");
    }
    .propaganda {
        height: 500px;
        width: 420px;
        margin-bottom: 30px;
    }
    .propaganda > div {
        max-width: 250px;
        margin-left: 20px;
        margin-bottom: 30px;
    }
    .propaganda > div > h1 {
        font-size: 35px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .propaganda > div >  p {
        height: 80px;
        width: 250px;
        font-size:20px;
        margin-bottom: 90px;
    }
}



/*FOOTER*/
/*setando toda a página*/

footer{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    height: 400px;
    background: #E55E82; 
}

footer > img{
    min-width: 150px;
    max-width: 200px;
    min-height: 125px;
    max-height: 200px;
}

.icones_rodape{
    display: flex;
    width: 100%;
    justify-content:end;
    margin-right: 5%;
}

.icones_rodape > a{
    font-size: 50px;
    color: white;
    margin-left: 29px;
}