<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlushGlamour</title>
    <!--PARA MEXE QUANDO ESTIVER SEM O FLASK(VOCÊ DEVE COLOCAR O CAMINHO DO SEU COMPUTADOR PARA FAZER QUAISQUER CORREÇÕES)
    <link rel="stylesheet" href="C:\Users\joao felipe\OneDrive\Documents\ESCOLA-FELIPE\IFRN CURSO PROGRAMAÇA\Projeto-BlushGlamour\Frontend\static\css\paginaPrincipal.css">
    <link rel="stylesheet" href="C:\Users\joao felipe\OneDrive\Documents\ESCOLA-FELIPE\IFRN CURSO PROGRAMAÇA\Projeto-BlushGlamour\Frontend\static\font-awesomw-2\fontawesome-free-6.4.2-web\css\all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="C:\Users\joao felipe\OneDrive\Documents\ESCOLA-FELIPE\IFRN CURSO PROGRAMAÇA\Projeto-BlushGlamour\Frontend\static\javaScript\carrossel.js"></script>
    -->
    <!--QUANDO ESTIVER UTILIZANDO FLASK-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/paginaPrincipal.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='javaScript/carrossel.js') }}"></script>    
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesomw-2/fontawesome-free-6.4.2-web/css/all.min.css') }}">
</head>
<body>
    <header>
        <div class="botao_logo">
            <div class="botao">
                <button id="toggle-btn"><i class="fa fa-bars"></i></button>
            </div>
            <div class="logo">
                 <figure>
                   <img src="{{ url_for('static', filename='imagens/Pagina_principal/Logo-BlushGlamour.png') }}" alt="">
               </figure>
            </div>
        </div>
        <form class="carrinho_barraDePesquisa" action="/pesquisa" method="post">
            <div class="barraPesquisa_Botao">
                <div class="barra_pesquisa">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="search" placeholder="O que deseja encontrar?" id="barraPesquisa" name="barraPesquisa">
                </div>
                <button type="submit" id="Botao_barraPesquisa"  type="submit" id="botao_barraDePesquisa" ><i class="fa-solid fa-arrow-right"></i></button>
            </div>
            <div class="carrinho_compra">
                 <a  href="/BlushGlamour-carrinho"><i class="fa-solid fa-cart-shopping"></i></a><div id="carrinho">0</div>
            </div>
       </form>
    </header>
    <nav>
         <!-- Barra lateral -->
         <div id="barra-lateral">
            <div class="botaSair"><a href="#" id="fechar-btn"><i class="fa fa-xmark"></i></a></div>
            <div class="DadosPerfil">
                <a href="/"><div class="imagemPerfil"><img src="{{ url_for('static', filename='imagens/Pagina_principal/user.png') }}" alt="" height="95px" width="95px"></div></a>
                <a href="/">Nome do usuario</a>
            </div>
            <div class="conteuldoBarralateral">
                <h1>BlushGlamour</h1>
                <div><i class="fa fa-home"></i><a href="/">Home</a></div>
            </div>
            <nav class="conteuldoBarralateral">
                <h1>Categorias</h1>
                <div><a href="">Bases</a></div>
                <div><a href="">Paletas</a></div>
                <div><a href="">Pinceis</a></div>
                <div><a href="">Delineadores</a></div>
                <div><a href="">Batons</a></i></div>
                <div><a href="">Rimels</a></div>
            </nav>
            <div class="conteuldoBarralateral">
                <h1>Açoes</h1>
                <div><i class="fa fa-user"></i><a href="/BlushGlamour-login">Login</a></div>
                <div><i class="fa-solid fa-address-card"></i><a href="/BlushGlamour-cadastro">Cadastrar-se</a></div>
                <div><i class="fa-solid fa-right-to-bracket"></i><a href="/logout">Logout</a></div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='javaScript/barraLateral.js') }}"></script>
    </nav>
    <main>
        <!--Aqui voces continuam o codigo da pagina-->

        <!-- detalhesProduto=verProduto -->

        <section class="anunciado"></section>
        <section class="MaisVendidos">
            <div class="TituloMaisVendidos"><h1>Queridinhos da loja</h1></div>
            <div class="carrossel"> 
                <!---CARD DE PRODUTO MAIS VENDIDO-->
                <div class="cardMaisVendido">
                    <div class="TituloCard"><h1>NOME</h1></div>
                    <figure class="imgCard"><img src="{{ url_for('static', filename='imagens/produtos/BaseBocaRosa01_semFundo.png') }}" alt=""></figure>
                    <div class="Valor_Botao">
                         <h1>R$100</h1>
                         <button onclick="window.location.href='/BlushGlamour-carrinho'" >Eu quero!</button>
                    </div> 
                </div>
                <!---CARD DE PRODUTO MAIS VENDIDO-->
                <div class="cardMaisVendido">
                    <div class="TituloCard"><h1>NOME</h1></div>
                    <figure class="imgCard"><img src="{{ url_for('static', filename='imagens/produtos/BaseBocaRosa01_semFundo.png') }}" alt=""></figure>
                    <div class="Valor_Botao">
                        <h1>R$100</h1>
                        <button onclick="window.location.href='/BlushGlamour-carrinho'" >Eu quero!</button>
                    </div> 
                </div>
                <!---CARD DE PRODUTO MAIS VENDIDO-->
                <div class="cardMaisVendido">
                    <div class="TituloCard"><h1>NOME</h1></div>
                    <figure class="imgCard"><img src="{{ url_for('static', filename='imagens/produtos/BaseBocaRosa01_semFundo.png') }}" alt=""></figure>
                    <div class="Valor_Botao">
                        <h1>R$100</h1>
                        <button onclick="window.location.href='/BlushGlamour-carrinho'" >Eu quero!</button>
                    </div> 
                </div>
                <!---CARD DE PRODUTO MAIS VENDIDO-->
                <div class="cardMaisVendido">
                    <div class="TituloCard"><h1>NOME</h1></div>
                    <figure class="imgCard">  <img src="{{ url_for('static', filename='imagens/produtos/BaseBocaRosa01_semFundo.png') }}" alt=""></figure>
                    <div class="Valor_Botao">
                        <h1>R$100</h1>
                        <button onclick="window.location.href='/BlushGlamour-carrinho'" >Eu quero!</button>
                    </div> 
                </div>
                <!---CARD DE PRODUTO MAIS VENDIDO-->
                <div class="cardMaisVendido">
                    <div class="TituloCard"><h1>NOME</h1></div>
                    <figure class="imgCard">  <img src="{{ url_for('static', filename='imagens/produtos/BaseBocaRosa01_semFundo.png') }}" alt=""></figure>
                    <div class="Valor_Botao">
                        <h1>R$100</h1>
                        <button onclick="window.location.href='/BlushGlamour-carrinho'" >Eu quero!</button>
                    </div> 
                </div>
            </div>
            <button id="prev" class="botoes"><i class="fa-solid fa-arrow-left"></i></button>
            <button id="next" class="botoes"><i class="fa-solid fa-arrow-right"></i></button>
        </section>
        <section class="encontre_por_categoria">
            <div class="tituloEncontre_por_categoria"><h1>Encontre por categoria</h1></div>
            <nav class="navbar_Encontre_por_categoria">
                <div>
                    <!--CARD DO ENCONTRE POR CATEGORIA-->
                    <div class="card_Encontre_por_categoria">
                        <a href=""><img src="{{ url_for('static', filename='imagens/Pagina_principal/Base.png') }}" alt=""></a>
                        <div><a href="">Bases</a></div>
                    </div>
                    <!--CARD DO ENCONTRE POR CATEGORIA-->
                    <div class="card_Encontre_por_categoria">
                        <a href=""><img src="{{ url_for('static', filename='imagens/Pagina_principal/Batom.png') }}" alt=""></a>
                        <div><a href="">Batons</a></div>
                    </div>
                    <!--CARD DO ENCONTRE POR CATEGORIA-->
                    <div class="card_Encontre_por_categoria">
                        <a href=""><img src="{{ url_for('static', filename='imagens/Pagina_principal/Paleta.png') }}" alt=""></a>
                        <div><a href="">Paletas</a></div>
                    </div>
                </div>
                <div>
                    <!--CARD DO ENCONTRE POR CATEGORIA-->
                    <div class="card_Encontre_por_categoria">
                        <a href=""><img src="{{ url_for('static', filename='imagens/Pagina_principal/Pincel.png') }}" alt=""></a>
                        <div><a href="">Pinceis</a></div>
                    </div>
                    <!--CARD DO ENCONTRE POR CATEGORIA-->
                    <div class="card_Encontre_por_categoria">
                        <a href=""><img src="{{ url_for('static', filename='imagens/Pagina_principal/Delineador.png') }}" alt=""></a>
                        <div><a href="">Delineadores</a></div>
                    </div>
                    <!--CARD DO ENCONTRE POR CATEGORIA-->
                    <div class="card_Encontre_por_categoria">
                        <a href=""><img src="{{ url_for('static', filename='imagens/Pagina_principal/Rimel.png') }}" alt=""></a>
                        <div><a href="">Rimels</a></div>
                    </div>
                </div>
            </nav>
        </section>
        <section class="produtos_para_vender">
            <div class="cards_Produtos_para_vender">
                <!--CARD DO PRODUTO A VENDA-->
                {% if dadosProdutos | length == 0 %}
                    <h1>Dicionário vazio!</h1>
                {% else %}
                    {% for linha in dadosProdutos %}
                        <div class="card_produto">
                            <div class="dados_do_produto">
                                <img src="{{ url_for('static', filename='imagens/produtos/' + linha['imgCard']) }}" alt="">
                                <p>{{ linha['nomeProduto'] }}</p>  <!-- Everaldo - TÁ DANDO ERRO PORQUE O imgCARD NO MEU BANCO TÁ NONE! -->
                                <p>R${{ linha['preco'] }}</p>
                            </div>
                            <div class="interaçoes_card">
                                <div class="interaçao_carrinho">
                                <input type="number" min="1" max="{{ linha['quantidade_estoque'] }}" name="quantidade" id="quantidade">
                                <button><i class="fa fa-cart-shopping"></i></button>
                                </div>
                                <div class="botao_comprar">
                                    <button onclick="window.location.href='/BlushGlamour-carrinho'" >Comprar</button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </section>
        <section class="Propagandas">
            <div class="Propagandas_dos_produtos1_2">
                <div id="propaganda1" class="propaganda">
                    <div>
                        <p>A Base Mate Boca Rosa Beauty by Payot é uma base de alta cobertura que proporciona um acabamento mate sem deixar a pele ressecada.</p>
                        <h1>Base Boca rosa</h1>
                        <button><a href="{{ url_for('pagina_produto', codigoDeBarra='17745') }}">Eu quero!</a></button>
                    </div>
                    <div></div>
                </div>
                <div id="propaganda2" class="propaganda">
                    <div>
                        <p>O batom Bruna Tavares possui sua textura seca, tem fixação prolongada, secagem rápida e não escorre quando aplicado.</p>
                        <h1>Batom Bruna Tavares</h1>
                        <button><a href="{{ url_for('pagina_produto', codigoDeBarra='17745') }}">Eu quero!</a></button>
                    </div>
                    <div></div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <img src="{{ url_for('static', filename='imagens/Pagina_principal/BlushGlamour-footer.png') }}" alt="">
        <div class="icones_rodape">
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
        </div>
    </footer>
</body>
</html>