* {
    padding: 0;
    margin: 0;
}
body {
    font-family: RedHatDisplay;
}
@font-face {
    font-family: RedHatDisplay;
    /*UTILIZANDO SEM FLASK*/
    src: url('/static/RedHatDisplay/RedHatDisplay-VariableFont_wght.ttf') format('truetype');
    /*UTILIZANDO COM FLASK*/
}

/*========================================= BARRA LATERAL============================================*/
#barra-lateral {
    width: 350px;
    height: 1024px;
    position: fixed;
    top: 0;
    left: -350px; /* Inicialmente, a barra lateral está fora da tela */
    background-color: #ffffff;
    color: #000000;
    transition: left 0.3s ease; /* Adiciona uma transição suave para a animação */
    display: flex;
    flex-direction: column;
    z-index: 3;
}
/*Aqui estou modelando a parte do perfil do usuario*/
.DadosPerfil {
    display: flex;
    background-color:rgba(229, 94, 130, 1);
    height: 120px;
    width: 350px;
    align-items: center;
    padding-bottom: 10px;
}
.DadosPerfil > a {
    margin-left: 20px;
    color: white;
    font-size: 20px;
}
.DadosPerfil > a {
    margin-left: 20px;
    color: #ffffff;
    text-decoration: none;
}
.DadosPerfil > a > div > img {
    border-radius: 100%;
    margin-left: 10px;
    border: 2px solid white;
    
}
/*Aqui estou modelando a parte dos links*/
.conteuldoBarralateral > h1 {
    background: linear-gradient(to bottom, #EACEF2,#F9A8C8);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 30px;
    margin-left: 5px;
}
.conteuldoBarralateral > div {
    width: 350px;
    border-bottom: 1px solid rgba(236, 202, 237, 1);
    margin-bottom: 12px;
    display: flex;
    align-items: center;
   

}
.conteuldoBarralateral > div > a {
    text-decoration: none;
    color: #000000;
    margin-bottom: 10px;
    margin-left: 10px;
}
.conteuldoBarralateral > div > i {
    color: rgba(229, 94, 130, 1);
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 20px;
}
.conteuldoBarralateral > div > a:hover {
    color: rgba(229, 94, 130, 1);
    transition-duration: 0.5s;
}

/*Botao de abrir a barra lateral*/
#toggle-btn {
    background-color: white;
    height: 40px;
    width: 40px;
    border: none;
    margin-bottom: 20px;
    margin-right: 30px;
    margin-left: 20px;
}
/*Botao de fechar barra lateral*/
.botaSair {
    background-color: rgba(229, 94, 130, 1);
    width: 350px;
    display: flex;
    justify-content: end;
}
.botaSair > a {
    padding: 5px;
    color: white;
    margin-right: 10px;
    text-decoration: none;
    font-size: 20px;
   
}
/*=====================================FIM BARRA LATERAL============================================*/



/*modelando o header*/
header {
    margin: auto;
    height: 120px;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease;
    z-index: 3;
}
.botao_logo {
    display: flex;
    align-items: center;
}
.carrinho_barraDePesquisa {
    display: flex;
    align-items: center;
}
.botao > button > i {
    font-size: 30px;
    color: #E55E82;
}
/*Aqui irei modelar a barra de pesquisa*/
.barra_pesquisa {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 40px;
    border: 1px solid #AEAEAE;
    border-radius: 50px; 
}
.barraPesquisa_Botao {
    display: flex;
    margin-right: 30px;
    align-items: center;
}
.barraPesquisa_Botao > button{
    border-radius: 100%;
    height: 40px;
    width: 40px;
    background-color: #E55E82;
    font-size: 20px;
    color: white;
    border: none;
    margin-left: 5px;
}
.barraPesquisa_Botao > button:hover {
    background-color: white;
    border:1px solid #E55E82;
    color: #E55E82;
    transition-duration: 0.5s;

}
.barra_pesquisa > i {
    color: #E55E82;
    margin-left: 10px;
}
.barra_pesquisa > input {
  height: 30px;
  width: 240px;
  border-radius: 50px;
  border: none;
  outline: none;
}

/*aqui irei modelar o icone do carrinho*/
.carrinho_compra {
    display: flex;
}
.fa-cart-shopping {
    font-size: 30px;
    color: #E55E82;
 }
#carrinho {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color:#5ee55e;
    border-radius: 100%;
    margin-right: 30px;
    
 }
 /*AQUI IREI MODELAR AS MEDIAS QUERIES*/
 @media only screen and (max-width: 820px){
    /*Aqui irei modelar o header*/
    header {
        flex-wrap: wrap-reverse;
        height: 200px;  
        align-items: center;
    }
    .carrinho_barraDePesquisa{
        justify-content: space-between;
        width: 800px;
        margin-left: 20px;
        margin-top: 10px;
    }
    /*aqui estou modelando o carrinho e a barra de pesquisa*/
    /*Aqui irei modelar a barra de pesquisa*/
    .barra_pesquisa {
        width: 270px;
        height: 40px;
    }
    .barra_pesquisa > input {
        height: 30px;
        width: 240px;
    }
    /*aqui irei modelar o carrinho*/
    #carrinho {
        margin-right: 20px;
    }
 }
 /*para telas mobiles*/
 @media only screen and (max-width: 500px){
    /*aqui estou modelando o carrinho e a barra de pesquisa*/
    /*Aqui irei modelar a barra de pesquisa*/
    .barra_pesquisa {
        width: 200px;
        height: 40px;
    }
   /*aqui irei modelar o carrinho*/
    #carrinho {
        margin-right: 20px;
    }
 }

/*setando toda a página*/

main {
    max-width: 1440px;
    height: 904px;
    margin: auto;
    position: relative;
    background: linear-gradient(180deg, #ECCAED 0%, #F9A8C8 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    height: 400px;
    background: #E55E82; 
}

footer > img{
    min-width: 150px;
    max-width: 200px;
    min-height: 125px;
    max-height: 200px;
}

.icones_rodape{
    display: flex;
    width: 100%;
    justify-content:end;
    margin-right: 5%;
}

.icones_rodape > a{
    font-size: 50px;
    color: white;
    margin-left: 29px;
}

/*modelando tamanho do container pai que é container dados*/

.container_dados {
    width: 1100px;
    height: 760px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
    
}

/*modelando botoes*/
.botoesUsuario > div{
    display: flex;
    width: 200px;
    height: 50px;
    background-color: #E55E82;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
    margin-top: 14px;
}

.botoesUsuario > div > button{
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
}

.botoesUsuario > div > button{
    border: none;
    background: none;
}

.botoesUsuario{
    display: flex;
    justify-content: end;
}

/*modelando seção imagem de usuario*/

.imgNome > div > img{
    border-radius: 100%;
    border: solid 2px #E55E82 ;
    margin-left: 50px;
    margin-right: 28px;
}

.imgNome{
    display: flex;
    margin-top: 63px;
}

.imgNome > h1{
    font-family: monospace;
    font-size: 35px;
    background: linear-gradient(to bottom, #EACEF2,#F9A8C8);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
/*modelando a div do usuario*/

.dadosUsuario{
    max-width: 1000px;
    height: 300px;
    background-color: #ffffff;
    border: solid 2px #E55E82;
    border-radius: 50px;
    margin: auto;
    margin-top: 46px;
}

.textDados > h2{
    font-family: monospace;
    font-size: 20px;
    margin-top: 29px;
    margin-left: 28px;
}

.botoesUsuario > div:hover{
    background-color: #ffffff;
    border: solid 1px #E55E82;
    transition-duration: 1s;
    
}

.botoesUsuario > div > button:hover{
    color: #E55E82;
}


/*modelando para telas de 800px*/

@media only screen and (max-width: 1000px){
    .container_dados {
        width: 90%;
        height: 850px;
    }    

    .imgNome{
        justify-content: center;
        
    }

    .dadosUsuario{
        width: 80%;
    }
    /*tamanho dos botoes e nome do usuario*/
    
}

@media only screen and (max-width: 500px){
    .imgNome{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .reverseDados{
        display: flex ;
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;
    }
    .reverseDados > .botoesUsuario > div{ 
        display: flex;
        width: 140px;
        height: 40px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 0px;
        margin-right: 0px;
    }
    .botoesUsuario > div{
        display: flex;
        margin: 5px;
    }
    .imgNome > h1{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 30px;
    }

    .botoesUsuario > div > button{
        font-size: 12px;
        
    }

    .icones_rodape{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}