* {
    padding: 0%;
    margin: 0%;
}

.container-menu{
    display: flex;
    height: 69px;
    width: 100%;
    background-color: black ;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
    position: fixed;
}

.container-menu > img {
    padding-left: 10px;
}

.nomes_menu {
    text-decoration: underline;
}

.nomes_menu > a {
    color: gray;
}

header{
    
}